<div id="<%= dom_id equipment %>">
  <p>
    <strong>Tipo:</strong>
    <%= equipment.tipo %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= equipment.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= equipment.descripcion %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= equipment.foto %>
  </p>

</div>
