<%= form_with(model: equipment) do |form| %>
  <% if equipment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
        <% equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo, class:"form-control" %>
  </div>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre, class:"form-control" %>
  </div>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_area :descripcion, class:"form-control" %>
  </div>

  <div>
    <%= form.label :foto, style: "display: block" %>
    <%= form.text_field :foto, class:"form-control" %>
  </div>

  <div>    
    <%= form.submit class:"btn btn-secondary mt-2" %>
  </div>
<% end %>
